{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ news.title }}</h1>
        <div>{{ news.text }}</div>
    </div>
{% endblock %}
